<link rel="stylesheet" href="/static/css/login.css">

<div class="container">
    <div class="form-box">
        <h1>Login</h1>
        <form>
            <input type="email" name="email" id="email", placeholder="Email">
            <input type="password" name="pwd" id="pwd" placeholder="Password">
            <p><a href="">Forgot password</a></p>
            <a id="login-btn">Login</a>
        </form>
        <p>Need an account?  <a href="">Sing up</a> </p>
    </div>
</div>

<script src="/static/js/login.js"></script>

